header {
    background-color: black;
}
header {
    background-image: url(materials/logo\ kleiner.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    
}